# TODO: Cambiar a produccion y refactorizar el codigo que usa estas credenciales
URL=https://api-sandbox.portaldeproveedores.mx
# For multiple tenants, use comma-separated values
# TENANT_ID=tenant_id_1,tenant_id_2,tenant_id_3
# API_KEY=api_key_1,api_key_2,api_key_3
# API_SECRET=api_secret_1,api_secret_2,api_secret_3
# DATABASES=DATABASE1,DATABASE2,DATABASE3

# Single tenant example
TENANT_ID=your_tenant_id
API_KEY=your_api_key
API_SECRET=your_api_secret
DATABASES=YOUR_DATABASE
EXTERNAL_IDS=YOUR_EXTERNAL_ID
