{"openapi":"3.0.1","info":{"title":"API de integraciones","description":"API que tiene el propósito de documentar la forma para integrar Portal de Proveedores con aplicaciones de terceros  ","version":"2.0.0"},"servers":[{"url":"https://api-sandbox.portaldeproveedores.mx","description":"Generated server url"}],"paths":{"/api/1.0/extern/tenants/{tenantId}/warehouse-deliveries/{warehouseDeliveryId}":{"get":{"tags":["warehouse-delivery-api"],"summary":"Consulta de entrada de almacén","description":"getWarehouseDelivery","operationId":"getWarehouseDelivery","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"warehouseDeliveryId","in":"path","description":"ID del Portal de Proveedores asignado a la entrada a almacén.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la entrada de almacén. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la entrada de almacén de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará la entrada de almacén de acuerdo al valor de la propiedad external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDeliveryResponse"}}}}}},"put":{"tags":["warehouse-delivery-api"],"summary":"Actualiza la información de una entrada de almacén","description":"update","operationId":"update","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"warehouseDeliveryId","in":"path","description":"ID del Portal de Proveedores asignado a la entrada a almacén.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la entrada de almacén. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la entrada de almacén de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará la entrada de almacén de acuerdo al valor de la propiedad external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternWarehouseDeliveryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDeliveryResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/warehouse-deliveries/{warehouseDeliveryId}/status":{"put":{"tags":["warehouse-delivery-api"],"summary":"Actualiza el estatus de la entrada a almacén.","description":"changeStatus","operationId":"changeStatus","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"warehouseDeliveryId","in":"path","description":"ID del Portal de Proveedores asignado a la entrada a almacén.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la entrada de almacén. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la entrada de almacén de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará la entrada de almacén de acuerdo al valor de la propiedad external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseDeliveryChangeStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseChangeStatusResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/requisitions/{requisitionId}/set-integration-error":{"put":{"tags":["requisition-api"],"summary":"Pone en estatus de error de integración en ERP la requisición especificada por el ID","description":"setIntegrationError","operationId":"setIntegrationError","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"requisitionId","in":"path","description":"ID del Portal de Proveedores asignado a la requisición","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la requisición. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la requisición de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará la requisición de acuerdo al valor de la columna ID (operation_number)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequisitionSetErrorRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/requisitions/approve":{"put":{"tags":["requisition-api"],"summary":"Aprueba una lista de requisiciones y las mueve hacia su siguiente estatus","description":"approveRequisitions","operationId":"approveRequsitions","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequisitionsForwardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RequisitionsExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/purchase-orders/{purchaseOrderId}":{"get":{"tags":["purchase-order-api"],"summary":"Obtiene una orden de compra a partir del identificador específicado","description":"getPurchaseOrder","operationId":"getPurchaseOrder","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"purchaseOrderId","in":"path","description":"ID del Portal de Proveedores asignado a la orden de compra.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la orden de compra. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la orden de compra de acuerdo al id asignado dentro del Portal de Proveedores. Si el valor es EXTERNAL buscará la orden de compra de acuerdo al identificador externo (Identificador del ERP)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderCoreResponse"}}}}}},"put":{"tags":["purchase-order-api"],"summary":"Actualiza de ordenes de compra","description":"updatePurchaseOrder","operationId":"update_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"purchaseOrderId","in":"path","description":"ID del Portal de Proveedores asignado a la orden de compra.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la orden de compra. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la orden de compra de acuerdo al id asignado dentro del Portal de Proveedores. Si el valor es EXTERNAL buscará la orden de compra de acuerdo al identificador externo (Identificador del ERP)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternPurchaseOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderCoreResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/purchase-orders/{purchaseOrderId}/status":{"put":{"tags":["purchase-order-api"],"summary":"Actualiza el estatus de la orden de compra","description":"updateStatusPurchaseOrder","operationId":"changeStatus_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"purchaseOrderId","in":"path","description":"ID del Portal de Proveedores asignado a la orden de compra.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la orden de compra. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la orden de compra de acuerdo al id asignado dentro del Portal de Proveedores. Si el valor es EXTERNAL buscará la orden de compra de acuerdo al identificador externo (Identificador del ERP)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseOrderChangeStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IPurchaseOrdeChangeStatusResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/purchase-orders/{purchaseOrderId}/pdf":{"put":{"tags":["purchase-order-api"],"summary":"Actualiza la liga del PDF de la orden de compra, el cual, se podrá descargar desde PDP","description":"updatePDFPurchaseOrder","operationId":"updatePdf","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"purchaseOrderId","in":"path","description":"ID del Portal de Proveedores asignado a la orden de compra.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la orden de compra. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la orden de compra de acuerdo al id asignado dentro del Portal de Proveedores. Si el valor es EXTERNAL buscará la orden de compra de acuerdo al identificador externo (Identificador del ERP)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseOrderUpdatePdfRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/providers/{providerId}":{"get":{"tags":["provider-api"],"summary":"Consulta de proveedor","description":"getProvider","operationId":"getProvider","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará el proveedor. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el proveedor de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el proveedor de acuerdo al valor de la propiedad external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderResponse"}}}}}},"put":{"tags":["provider-api"],"summary":"Actualiza el proveedor proporcionado en el request","description":"updateProvider","operationId":"update_2","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"path","description":"ID del Portal de Proveedores asignado al Proveedor.","required":true,"schema":{"type":"string"}},{"name":"idType","in":"query","description":"Dependiendo del tipo será la forma en que buscará el proveedor. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el proveedor de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el proveedor de acuerdo al valor de la propiedad external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/providers/{providerId}/external-id":{"put":{"tags":["provider-api"],"summary":"Actualiza el ID Externo del proveedor en Portal de Proveedores","description":"updateExternalIdProvider","operationId":"updateExternalId","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"path","description":"ID del Portal de Proveedores asignado al Proveedor.","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExternalIdUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/providers/{providerId}/expedient":{"put":{"tags":["extern-expedient-api"],"summary":"Actualiza los campos adicionales del expediente del proveedor","description":"updateExpedientFields","operationId":"updateExpedientFields","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"El tipo de id: Interno o Externo","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"providerId","in":"path","description":"Identificador del proveedor","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternUpdateExpedientFieldsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/ledger-accounts/{id}":{"put":{"tags":["ledger-account-api"],"summary":"Actualiza una cuenta contable existente","description":"updateLedgerAccount","operationId":"updateLedgerAccount","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Identificador público de la cuenta contable a actualizar","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Tipo de identificador: INTERNAL para buscar por public_id, EXTERNAL para buscar por external_id","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternLedgerAccountUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternLedgerAccountResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cost-centers/{id}":{"put":{"tags":["cost-center-api"],"summary":"Actualiza un centro de costos existente.","description":"updateCostCenter","operationId":"updateCostCenter","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Identificador del centro de costos a actualizar.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Tipo de identificador utilizado. Valores válidos: INTERNAL (para buscar por public_id), EXTERNAL (para buscar por external_id).","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternCostCenterUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternCostCenterResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cfdis/{cfdiId}/extended-fields":{"put":{"tags":["cfdi-api"],"summary":"Actualiza los campos extendidos de un documento por pagar","description":"updateExtendedFields","operationId":"updateExtendedFields","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"El tipo de id: Interno o Externo","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"cfdiId","in":"path","description":"ID asigando al cfdi","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternUpdateExtendedFieldsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CfdiResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cfdis/reject":{"put":{"tags":["cfdi-api"],"summary":"Rechaza un cfdi a un estatus anterior","description":"rejectCfdis","operationId":"rejectCfdis","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRoutingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowRejectResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cfdis/approve":{"put":{"tags":["cfdi-api"],"summary":"Aprueba un comprobante y lo mueve hacia su estatus siguiente","description":"approveCfdi","operationId":"approve","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRoutingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowApproveResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/warehouse-deliveries":{"put":{"tags":["BatchWarehousesDeliveryApi"],"summary":"Maneja eventos sobre la carga y actualización de entradas de almacén.","description":"upsertWarehouseDelivery","operationId":"upsertWarehouseDelivery","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpsertWarehouseDeliveriesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchUpsertWarehouseDeliveriesResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/purchase-orders":{"put":{"tags":["BatchPurchaseOrdersApi"],"summary":"Crea o actualiza una o varias órdenes de compra","description":"upsertPurchaseOrders","operationId":"upsertPurchaseOrders","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpsertPurchaseOrdersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchUpsertPurchaseOrdersResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/payments/update-status":{"put":{"tags":["BatchPaymentApi"],"summary":"Actualiza el estatus de los pagos especificados en el request","description":"updateStatusPayments","operationId":"updateStatus","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateStatusPaymentsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchPaymentResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis":{"put":{"tags":["BatchCfdiApi"],"summary":"Actualiza el documento con el estatus en el que se encuentra en el ERP","description":"progressUpdateCfdis","operationId":"progressUpdateCfdis","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCfdiProgressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/send-to-pending-payment":{"put":{"tags":["BatchCfdiApi"],"summary":"Envía el comprobante a la fase de pendiente de pago con base en el identificador, para poderse usar, el comprobante debe de estar en la fase de 'Entregado en ERP'","description":"backwardCfdisToPendingPayment","operationId":"backwardCfdisToPending","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchBackwardCfdisToPendingPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchBackwardCfdisToPendingPaymentResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/send-to-erp":{"put":{"tags":["BatchCfdiApi"],"summary":"Actualiza los documento al estatus entregado a ERP. 'CFDI_ID' buscará el documento por su id en PDP, en caso de no contar con el id usar el 'UUID'","description":"sendErpCfdis","operationId":"sendErpCfdis","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCfdiSendErpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/review-payment-cfdi":{"put":{"tags":["BatchCfdiApi"],"summary":"Autoriza o rechaza los complementos de pago especificados según sea haya especificado","description":"reviewPaymentCfdi","operationId":"reviewPaymentCfdi","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPaymentCfdiReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/reject":{"put":{"tags":["BatchCfdiApi"],"summary":"Rechaza los comprobantes especificados","description":"refectCfdis","operationId":"rejectCfdis_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRejectCfdisRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchRejectCfdisResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/payment-schedule":{"put":{"tags":["BatchCfdiApi"],"summary":"Actualiza la fecha programada de pago de los comprobantes especificados","description":"updatePaymentSchedule","operationId":"updatePaymentSchedule","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateCfdiPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/payment-due":{"put":{"tags":["BatchCfdiApi"],"summary":"Actualiza la fecha límite de pago de los comprobantes especificados","description":"updatePaymentSchedule","operationId":"updatePaymentDue","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateCfdiPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/payment-deadline":{"put":{"tags":["BatchCfdiApi"],"summary":"Actualiza la fecha de vencimiento de pago de los comprobantes especificados","description":"updatePaymentDeadline","operationId":"updatePaymentDeadline","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateCfdiPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdiResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/warehouse-deliveries":{"get":{"tags":["warehouse-delivery-api"],"summary":"Búsqueda de entradas de almacén que cumplan con los criterios proporcionados","description":"listWarehouseDeliveries","operationId":"list","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"providerExternalId","in":"query","description":"Búsqueda por proveedor con base en el ID asignado por el ERP","required":false,"schema":{"type":"string","description":"Búsqueda por proveedor con base en el ID asignado por el ERP"}},{"name":"provider_id","in":"query","description":"Es un string para buscar por el provider_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &provider_id=xxxxxx","required":false,"schema":{"type":"string","description":"Es un string para buscar por el provider_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &provider_id=xxxxxx"}},{"name":"status","in":"query","description":"Búsqueda por el estatus de la entrada de almacén basada en los valores del enumerador","required":false,"schema":{"type":"string","description":"Búsqueda por el estatus de la entrada de almacén basada en los valores del enumerador","enum":["OPEN","CLOSED","CANCELLED","GENERATED"]}},{"name":"ids","in":"query","description":"Es un arreglo de identificadores internos del proveedor para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2","required":false,"schema":{"type":"array","description":"Es un arreglo de identificadores internos del proveedor para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2"}},{"name":"external_ids","in":"query","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2","required":false,"schema":{"type":"array","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2"}},{"name":"companyExternalId","in":"query","description":"Devuelve las entradas de almacén que coincidan con el identificador externo de la compañía","required":false,"schema":{"type":"string","description":"Devuelve las entradas de almacén que coincidan con el identificador externo de la compañía"}},{"name":"page_size","in":"query","description":"Cantidad de elementos a buscar","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"Punto de partida para los elementos a buscar","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDeliveriesResponse"}}}}}},"post":{"tags":["warehouse-delivery-api"],"summary":"Crea una entrada de almacén.","description":"create","operationId":"create","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternWarehouseDeliveryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDeliveryResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/users/{userId}/messages":{"post":{"tags":["users-api"],"summary":"Recibe un mensaje que será enviado a un usuario dado","description":"receiveMessage","operationId":"receiveMessage","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","description":"Id del usuario asignado en base de datos de Portal de Proveedores","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUserMessage"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/system-log":{"post":{"tags":["extern-system-log"],"summary":"Crea un registro en el log del sistema","description":"create","operationId":"create_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemLogExternRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SystemLogExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/purchase-orders":{"get":{"tags":["purchase-order-api"],"summary":"Busca órdenes de compra que cumplan con los criterios proporcionados","description":"listPurchaseOrder","operationId":"list_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página","required":true,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página"}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":true,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"providerExternalId","in":"query","description":"Búsqueda por proveedor con base en el ID asignado por el ERP","required":false,"schema":{"type":"string","description":"Búsqueda por proveedor con base en el ID asignado por el ERP"}},{"name":"status","in":"query","description":"Búsqueda por el estatus de la orden de compra basada en los valores del enumerador: OPEN, CLOSED","required":false,"schema":{"type":"string","description":"Búsqueda por el estatus de la orden de compra basada en los valores del enumerador: OPEN, CLOSED","enum":["OPEN","CANCELLED","GENERATED","CLOSED"]}},{"name":"ids","in":"query","description":"Es un arreglo de identificadores internos de las órdenes de compra para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2","required":false,"schema":{"type":"array","description":"Es un arreglo de identificadores internos de las órdenes de compra para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2"}},{"name":"external_ids","in":"query","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2","required":false,"schema":{"type":"array","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2"}},{"name":"provider_id","in":"query","description":"Es un string para buscar por el provider_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &provider_id=xxxxxx","required":false,"schema":{"type":"string","description":"Es un string para buscar por el provider_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &provider_id=xxxxxx"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrdersCoreResponse"}}}}}},"post":{"tags":["purchase-order-api"],"summary":"Crea una orden de compra","description":"createPurchaseOrder","operationId":"create_2","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternPurchaseOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderCoreResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/providers":{"get":{"tags":["provider-api"],"summary":"Lista los proveedores de la empresa.","description":"listProviders","operationId":"list_2","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página.","required":false,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página."}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":false,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"statusExpedient","in":"query","description":"Cuando tiene valor, filtrará el resultado por el estatus del expediente. Los valores válidos para esta variable son: SENT, REJECTED, ACCEPTED, EDITED, NO_EXPEDIENT","required":false,"schema":{"type":"string","description":"Cuando tiene valor, filtrará el resultado por el estatus del expediente. Los valores válidos para esta variable son: SENT, REJECTED, ACCEPTED, EDITED, NO_EXPEDIENT"}},{"name":"expedientAcceptedFrom","in":"query","description":"Buscará los proveedores que tengan fecha de aprobación en su expediente con la fecha mayor o igual a esta fecha.","required":false,"schema":{"type":"string","format":"date","description":"Buscará los proveedores que tengan fecha de aprobación en su expediente con la fecha mayor o igual a esta fecha."}},{"name":"expedientAcceptedTo","in":"query","description":"Buscará los proveedores que tengan fecha de aprobación en su expediente menor o igual a esta fecha.","required":false,"schema":{"type":"string","format":"date","description":"Buscará los proveedores que tengan fecha de aprobación en su expediente menor o igual a esta fecha."}},{"name":"emptyExternalId","in":"query","description":"Cuando es true, entonces, obtiene sólo los proveedores que no tienen asignado el identificador del ERP (ID Externo)","required":false,"schema":{"type":"boolean","description":"Cuando es true, entonces, obtiene sólo los proveedores que no tienen asignado el identificador del ERP (ID Externo)"}},{"name":"hideBankInformation","in":"query","description":"Cuando es true, entonces, no devuelve la información bancaria del proveedor","required":false,"schema":{"type":"boolean","description":"Cuando es true, entonces, no devuelve la información bancaria del proveedor"}},{"name":"status","in":"query","description":"Cuando tiene valor, filtrará todos los proveedores, Los estatus válidos son: ENABLED, DISABLED.","required":false,"schema":{"type":"string","description":"Cuando tiene valor, filtrará todos los proveedores, Los estatus válidos son: ENABLED, DISABLED.","enum":["ENABLED","DISABLED"]}},{"name":"rfc","in":"query","description":"Para proveedores nacionales hace referencia al Registro Federal de Contribuyentes (RFC) del proveedor","required":false,"schema":{"type":"string","description":"Para proveedores nacionales hace referencia al Registro Federal de Contribuyentes (RFC) del proveedor"}},{"name":"externalId","in":"query","description":"Identificador del proveedor en el ERP","required":false,"schema":{"type":"string","description":"Identificador del proveedor en el ERP"}},{"name":"name","in":"query","description":"Razón social del proveedor","required":false,"schema":{"type":"string","description":"Razón social del proveedor"}},{"name":"ids","in":"query","description":"Es un arreglo de identificadores internos del proveedor para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2","required":false,"schema":{"type":"array","description":"Es un arreglo de identificadores internos del proveedor para buscar por el id interno de PDP. En caso de que se requiera usar se puede usar de esta manera en el query string: &ids=id1&ids=id2"}},{"name":"external_ids","in":"query","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2","required":false,"schema":{"type":"array","description":"Es un arreglo de external_id para buscar por el external_id. En caso de que se requiera usar se puede usar de esta manera en el query string: &external_ids=external1&external_ids=external2"}},{"name":"type","in":"query","description":"Cuando tiene valor, filtrará el resultado por el tipo del proveedor. Los valores válidos para esta variable son: REGULAR, CUSTOMS_AGENT, FOREIGN","required":false,"schema":{"type":"string","description":"Cuando tiene valor, filtrará el resultado por el tipo del proveedor. Los valores válidos para esta variable son: REGULAR, CUSTOMS_AGENT, FOREIGN"}},{"name":"expiredExpedient","in":"query","description":"Cuando tenga valor y este es true, filtrará los proveedores que tengan el expediente expirado. Cuando es false, filtrará los proveedores que no tengan el expediente expirado. Sino tiene valor, no se aplicará este filtro.","required":false,"schema":{"type":"boolean","description":"Cuando tenga valor y este es true, filtrará los proveedores que tengan el expediente expirado. Cuando es false, filtrará los proveedores que no tengan el expediente expirado. Sino tiene valor, no se aplicará este filtro."}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvidersResponse"}}}}}},"post":{"tags":["provider-api"],"summary":"Crea un nuevo proveedor","description":"createProvider","operationId":"create_3","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/providers/{providerId}/se/cfdis/clone":{"post":{"tags":["cfdi-se-api"],"description":"Crea un comprobante de servicio especializado a partir de un comprobante existente, con estatus En Preparación, con el tenant y proveedor indicados","operationId":"clone","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CfdiSECloneRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CfdiResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/payments":{"post":{"tags":["payment-api"],"summary":"Utiliza este endpoint para CREAR un pago","description":"createPayment","operationId":"create_4","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalPaymentResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/payments/{paymentId}/voucher":{"post":{"tags":["payment-api"],"summary":"Utiliza este endpoint para agregar un comprobante de pago al pago con el ID especificado.","description":"uploadVoucher","operationId":"uploadVoucher","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"paymentId","in":"path","description":"ID del Portal de Proveedores asignado al pago","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"id_type":{"type":"string","description":"Dependiendo del tipo será la forma en que buscará el pago. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el pago de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el pago de acuerdo al valor de la propiedad external_id. Si no se elige valor alguno por default se buscará por el id asignado en base de datos.","enum":["INTERNAL","EXTERNAL"]},"voucher":{"type":"string","format":"binary"}},"required":["voucher"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"id_type":{"type":"string","description":"Dependiendo del tipo será la forma en que buscará el pago. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el pago de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el pago de acuerdo al valor de la propiedad external_id. Si no se elige valor alguno por default se buscará por el id asignado en base de datos.","enum":["INTERNAL","EXTERNAL"]},"voucher":{"type":"string","format":"binary"}},"required":["voucher"]}}}},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/payments/{paymentId}/reject":{"post":{"tags":["payment-api"],"summary":"Utiliza este endpoint para invalidar un pago.","description":"rejectPayment","operationId":"rejectPayment","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"paymentId","in":"path","description":"ID del Portal de Proveedores asignado al pago","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará el pago. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el pago de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el pago de acuerdo al valor de la propiedad external_id. Si no se elige valor alguno por default se buscará por el id asignado en base de datos.","required":false,"schema":{"type":"string","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternPaymentDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/maintenances/delete-payments":{"post":{"tags":["maintenance-api"],"summary":"Fuerza la eliminación de un pago dado y actualiza la información de los CFDIS relacionados","description":"deletePayment","operationId":"deletePayment","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaintenanceDeletePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/1.0/extern/tenants/{tenantId}/ledger-accounts":{"post":{"tags":["ledger-account-api"],"summary":"Crear una cuenta contable","description":"createLedgerAccount","operationId":"createLedgerAccount","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternLedgerAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternLedgerAccountResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/integration-logs":{"post":{"tags":["extern-integration-log-api"],"summary":"Utiliza este endpoint para CREAR registro en el log de integración","description":"create","operationId":"create_5","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationLogExternRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IntegrationLogsExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/file":{"post":{"tags":["tenant-api"],"summary":"Obtiene la URL para descarga de un archivo que pertenece al tenant","description":"Descargar archivo","operationId":"getFile","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredFileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FileUrlResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cost-centers":{"post":{"tags":["cost-center-api"],"summary":"Crea un nuevo centro de costos.","description":"createCostCenter","operationId":"createCostCenter","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternCostCenterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternCostCenterResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cfdis/mark-as-paid":{"post":{"tags":["cfdi-api"],"summary":"Marca comprobantes como pagados sin generar pagos de los mismos","description":"Cambiar de estatus los comprobantes a “pagados”, dejando los comprobantes con saldo cero sin generar ningún pago","operationId":"markCfdisAsPaid","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCfdisAsPaidRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CfdisMarkAsPaidResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/templates/catalogsvalues":{"post":{"tags":["BatchShippingTemplateApi"],"summary":"Genera y actualiza lso valores de los catálogos de las plantilla de envío","operationId":"create_6","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchShippingTemplateCatalogValuesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchTemplateCatalogResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/requisition-type":{"post":{"tags":["BatchRequisitionTypeCatalogApi"],"summary":"Crea o actualiza uno o varios proveedores.","description":"upsertRequisitionTypeCatalog","operationId":"insertRequisitionType","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequisitionTypesCatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchRequisitionTypesCatalogResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/provider":{"post":{"tags":["BatchProviderApi"],"summary":"Crea o actualiza uno o varios proveedores.","description":"upsertProvider","operationId":"upsertProvider","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchProviderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchProvidersResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/provider/users":{"post":{"tags":["BatchProviderApi"],"summary":"Crea o actualiza uno o varios usuarios de los proveedores.","description":"upsertProviderUsers","operationId":"upsertProviderUsers","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchProviderUsersRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchProvidersUsersResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/payments":{"post":{"tags":["BatchPaymentApi"],"summary":"Genera los pagos especificados en el request","description":"createPayments","operationId":"create_7","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchPaymentResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/payment-conditions":{"post":{"tags":["BatchPaymentConditionsApi"],"summary":"Crea o actualiza uno o varios proveedores.","description":"createPaymentConditions","operationId":"create_8","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchPaymentConditionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchPaymentConditionsResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/receive":{"post":{"tags":["BatchCfdiApi"],"summary":"Crea uno o varios CFDI a partir de archivos en formato binario","description":"receiveCfdi","operationId":"receive","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"xmls":{"type":"array","description":"Lista de archivos XML en formato binario","items":{"type":"string","format":"binary"}},"pdfs":{"type":"array","description":"Lista de archivos PDF en formato binario","items":{"type":"string","format":"binary"}},"cfdis":{"$ref":"#/components/schemas/BatchReceiveCfdisRequest"}},"required":["cfdis","pdfs","xmls"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"xmls":{"type":"array","description":"Lista de archivos XML en formato binario","items":{"type":"string","format":"binary"}},"pdfs":{"type":"array","description":"Lista de archivos PDF en formato binario","items":{"type":"string","format":"binary"}},"cfdis":{"$ref":"#/components/schemas/BatchReceiveCfdisRequest"}},"required":["cfdis","pdfs","xmls"]}},"application/json":{"schema":{"type":"object","properties":{"xmls":{"type":"array","description":"Lista de archivos XML en formato binario","items":{"type":"string","format":"binary"}},"pdfs":{"type":"array","description":"Lista de archivos PDF en formato binario","items":{"type":"string","format":"binary"}},"cfdis":{"$ref":"#/components/schemas/BatchReceiveCfdisRequest"}},"required":["cfdis","pdfs","xmls"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchReceiveCfdisResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/receive-customs":{"post":{"tags":["BatchCfdiApi"],"summary":"Crea uno o varios CFDI con status predeterminados a partir de URLs válidas y alcanzables por PDP","description":"receiveCustomCfdi","operationId":"receiveCustoms","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCustomCfdisRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchReceiveCfdisResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/cancel_by_sat":{"post":{"tags":["BatchCfdiApi"],"summary":"Cancela los comprobantes especificados, este endpoint se ocupa cuando se tiene conocimiento de que un comprobante fue cancelado en el SAT","description":"cancelCfdisSat","operationId":"cancelBySat","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCfdiCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdisCancelResponse"}}}}}}},"/api/1.0/batch/tenants/{tenantId}/cfdis/cancel":{"post":{"tags":["BatchCfdiApi"],"summary":"Cancela los comprobantes especificados, no necesariamente cancelados por el SAT","description":"cancelCfdis","operationId":"cancel","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCfdiCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchCfdisCancelResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}":{"get":{"tags":["tenant-api"],"summary":"Obtiene los datos básicos de un tenant específico.","description":"Obtiene la información general del tenant ","operationId":"get","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BasicTenantResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/users/{userId}":{"get":{"tags":["users-api"],"summary":"Obtiene la información de un usuario dado","description":"getUser","operationId":"get_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","description":"Id del usuario asignado en base de datos de Portal de Proveedores","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/tenant-fields":{"get":{"tags":["tenant-fields-api"],"summary":"Listar los campos de empresa","description":"Obtiene todos los campos de empresa paginados","operationId":"getFields","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternTenatFieldsResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/tenant-fields/{id}":{"get":{"tags":["tenant-fields-api"],"summary":"Obtener un campo de empresa","description":"Obtiene un campo de empresa por el identificador interno de PDP o el identificador externo asignado dependiendo del parámetro id_type.","operationId":"getField","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Identificador del campo de empresa. Este valor depende del parámetro id_type para obtener el campo de empresa correspondiente.","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"El tipo de id: Interno o Externo.\n\n","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternTenantFieldResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/tenant-bank-accounts":{"get":{"tags":["tenant-bank-account-api"],"summary":"Consulta de bank accounts","description":"listBankAccounts","operationId":"list_3","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"currency","in":"query","description":"Filtra por moneda de la cuenta de banco","required":false,"schema":{"type":"string","description":"Filtra por moneda de la cuenta de banco"}},{"name":"hasLayout","in":"query","description":"Filtra que la cuenta tenga layout bancario, valores permitidos true y false","required":false,"schema":{"type":"string","description":"Filtra que la cuenta tenga layout bancario, valores permitidos true y false"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountsResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/requisitions/{requisitionId}":{"get":{"tags":["requisition-api"],"summary":"Retorna los detalles de la requisición solicitada por ID","description":"getRequisition","operationId":"get_2","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"requisitionId","in":"path","description":"ID del Portal de Proveedores asignado a la requisición","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará la requisición. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará la requisición de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará la requisición de acuerdo al valor de la columna ID (operation_number)","required":false,"schema":{"type":"string","default":"INTERNAL","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RequisitionExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/requisitions/packages/{packageId}":{"get":{"tags":["requisition-api"],"summary":"Busca requisiciones que estén incluidas en el paquete especificado, devuelve los datos de forma paginada","description":"listRequisitionsByPackage","operationId":"listByPackage","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"packageId","in":"path","description":"ID del paquete de requisiciones","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página","required":true,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página"}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":true,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"reason","in":"query","description":"Razón por la cual se encuentran las requisiciones en modo solo lectura","required":false,"schema":{"type":"string","description":"Razón por la cual se encuentran las requisiciones en modo solo lectura","enum":["AUTHORIZATION_IN_PROGRESS","TRANSITION_IN_PROGRESS"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RequisitionsExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/providers/{providerId}/expedient/withProvider":{"get":{"tags":["extern-expedient-api"],"summary":"Utiliza este endpoint para obtener el detalle del expediente de un proveedor","description":"getProviderExpedient","operationId":"getProviderExpedient","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"path","description":"Identificador del proveedor","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExpedientDataSetResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/payments/{paymentId}":{"get":{"tags":["payment-api"],"summary":"Obtiene un pago a partir del identificador específicado","description":"getPayment","operationId":"getPayment","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"paymentId","in":"path","description":"ID del Portal de Proveedores asignado al pago","required":true,"schema":{"type":"string"}},{"name":"id_type","in":"query","description":"Dependiendo del tipo será la forma en que buscará el pago. Los valores válidos para esta variable son: INTERNAL, EXTERNAL. Si el valor es INTERNAL, buscará el pago de acuerdo al id asignado en la base de datos de Portal de Proveedores. Si el valor es EXTERNAL buscará el pago de acuerdo al valor de la propiedad external_id. Si no se elige valor alguno por default se buscará por el id asignado en base de datos.","required":false,"schema":{"type":"string","enum":["INTERNAL","EXTERNAL"]}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalPaymentResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/payment-orders/{paymentOrderId}":{"get":{"tags":["payment-order-api"],"summary":"Obtiene la información relacionada con una orden de pago","description":"getPaymentOrder","operationId":"get_3","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"paymentOrderId","in":"path","description":"El ID interno de la orden de pago","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/notifications-groups/{notificationGroupId}":{"get":{"tags":["notification-groups-api"],"summary":"Busca la lista de correos electrónicos mediante un identificador del grupo.","operationId":"getNotificationGroup","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"notificationGroupId","in":"path","description":"Identificador del grupo de notificación.","required":true,"schema":{"type":"string"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationGroupResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/contributions/social":{"get":{"tags":["social-contribution-api"],"summary":"Utiliza este endpoint para obtener un listado de contribuciones sociales","description":"listSocialContributions","operationId":"listExtern","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página.","required":false,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página."}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":false,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"createdStartDate","in":"query","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"createdEndDate","in":"query","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"providerId","in":"query","description":"Identificador público del proveedor","required":false,"schema":{"type":"string","description":"Identificador público del proveedor"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalSocialContributionsResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/contributions/sat":{"get":{"tags":["sat-contribution-api"],"summary":"Utiliza este endpoint para obtener un listado de contribuciones sat","description":"listSatContributions","operationId":"listExtern_1","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página.","required":false,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página."}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":false,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"createdStartDate","in":"query","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"createdEndDate","in":"query","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"providerId","in":"query","description":"Identificador público del proveedor","required":false,"schema":{"type":"string","description":"Identificador público del proveedor"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalSatContributionsResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/contributions/payrolls":{"get":{"tags":["payroll-api"],"summary":"Utiliza este endpoint para obtener un listado de nominas","description":"listPayrolls","operationId":"listExtern_2","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"includePdf","in":"query","description":"Bandera para indicar si la lista de nóminas va a incluir sus archivos PDF generados por el sistema","required":false,"schema":{"type":"boolean","description":"Bandera para indicar si la lista de nóminas va a incluir sus archivos PDF generados por el sistema"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página.","required":false,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página."}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":false,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"createdStartDate","in":"query","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha inicial correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"createdEndDate","in":"query","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy","required":false,"schema":{"type":"string","description":"Fecha final correspondiente al rango de la fecha de creación de los documentos en formato dd/mm/yyyy"}},{"name":"providerId","in":"query","description":"Identificador público del proveedor","required":false,"schema":{"type":"string","description":"Identificador público del proveedor"}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CfdisSEExternResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/companies":{"get":{"tags":["company-api"],"summary":"Consulta de companies","description":"listCompanies","operationId":"list_4","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"PDPTenantKey","in":"header","description":"Key asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}},{"name":"PDPTenantSecret","in":"header","description":"Secret asignado a la empresa que consume el API","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompaniesResponse"}}}}}}},"/api/1.0/extern/tenants/{tenantId}/cfdis":{"get":{"tags":["cfdi-api"],"summary":"Busca cfdis que cumplan con los criterios proporcionados","description":"listCfdis","operationId":"list_5","parameters":[{"name":"tenantId","in":"path","description":"Identificador de la empresa","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página","required":true,"schema":{"type":"integer","format":"int32","description":"Tamaño del conjunto de datos a devolver. Ejemplo: pageSize=30, regresará 30 registros por página"}},{"name":"offset","in":"query","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20","required":true,"schema":{"type":"integer","format":"int32","description":"Es la posición inicial del conjunto de datos a regresar. Cuando se especifica este valor se obtiene un conjunto de registros iniciando en el valor especificado. Ejemplo: offset=20 regresará el resultado desde el registro 20"}},{"name":"from","in":"query","description":"Fecha a partir de la cual se desea buscar los documentos. Expresada en formato yyyy-mm-dd","required":false,"schema":{"type":"string","format":"date","description":"Fecha a partir de la cual se desea buscar los documentos. Expresada en formato yyyy-mm-dd"}},{"name":"to","in":"query","description":"Fecha límite de la cual se desea buscar los documentos","required":false,"schema":{"type":"string","format":"date","description":"Fecha límite de la cual se desea buscar los documentos"}},{"name":"providerId","in":"query","description":"Búsqueda por proveedor con base al ID del Portal de Proveedores asignado al proveedor","required":false,"schema":{"type":"string","description":"Búsqueda por proveedor con base al ID del Portal de Proveedores asignado al proveedor"}},{"name":"purchaseOrderId","in":"query","description":"Búsqueda por orden de compra,  con base en el ID del Portal de proveedores asignado a la orden de compra","required":false,"schema":{"type":"string","description":"Búsqueda por orden de compra,  con base en el ID del Portal de proveedores asignado a la orden de compra"}},{"name":"warehouseDeliveryId","in":"query","description":"Búsqueda por entrada a almacén, con base en el ID del Portal de Proveedores asignado a la entrada a almacén","required":false,"schema":{"type":"string","description":"Búsqueda por entrada a almacén, con base en el ID del Portal de Proveedores asignado a la entrada a almacén"}},{"name":"providerExternalId","in":"query","description":"Búsqueda por proveedor con base en el ID asignado por el ERP","required":false,"schema":{"type":"string","description":"Búsqueda por proveedor con base en el ID asignado por el ERP"}},{"name":"purchaseOrderExternalId","in":"query","description":"Búsqueda por orden de compra,  con base en el ID asignado por el ERP a la orden de compra","required":false,"schema":{"type":"string","description":"Búsqueda por orden de compra,  con base en el ID asignado por el ERP a la orden de compra"}},{"name":"warehouseDeliveryExternalId","in":"query","description":"Búsqueda por entrada de almacén, con base en el ID asignado por el ERP a la entrada a almacén","required":false,"schema":{"type":"string","description":"Búsqueda por entrada de almacén, con base en el ID asignado por el ERP a la entrada a almacén"}},{"name":"cfdiIds","in":"query","required":false,"schema":{"type":"array","description":"Lista de cfdi ids a buscar","items":{"type":"string"},"uniqueItems":true}},{"name":"uuids","in":"query","required":false,"schema":{"type":"array","description":"Lista de UUIDs de cfdi a buscar","items":{"type":"string"},"uniqueItems":true}},{"name":"cfdiType","in":"query","description":"Búsqueda por tipo de CFDI. Los parámetros aceptados son los siguientes:\nINVOICE: Filtro para CFDI de tipo facturas.\nCREDIT_NOTE: Filtro para CFDI de tipo notas de crédito.\nPAYMENT_CFDI: Filtro para CFDI para complementos de pago.\nADVANCE: Filtro para CFDI de cuando se requiere obtener facturas de anticipos.\n","required":false,"schema":{"type":"string","description":"Búsqueda por tipo de CFDI. Los parámetros aceptados son los siguientes:\nINVOICE: Filtro para CFDI de tipo facturas.\nCREDIT_NOTE: Filtro para CFDI de tipo notas de crédito.\nPAYMENT_CFDI: Filtro para CFDI para complementos de pago.\nADVANCE: Filtro para CFDI de cuando se requiere obtener facturas de anticipos.\n","enum":["INVOICE","CREDIT_NOTE","PAYMENT_CFDI","ADVANCE"]}},{"name":"documentTypes","in":"query","requi
[...]
